/** @format */

@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
h1 {
  font-family: "Babylonica", cursive;
  color: white;
  font-size: 55px;
}
body {
  background-image: url(/assets/SERMON\ SLIDES_WIDE7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* background-color: grey; */
  opacity: 5;
  background-color: grey;
}
label {
  color: white;
}
.form-control {
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid dodgerblue;
  width: 50%;
  align-items: center;
}
